body{
	background-image: url("../Images/Spirited\ Away\ Wallpaper.jpg");
	text-align: center;
	background-size: 100%;
}

audio {
	float: center;
}

h1 {
	font-weight: bold;
	font-size: 55px;
	color: white;
}

.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}
